<div class="navbar-spacer"></div>

<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/">Tozbulut</a></li>
      <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/yazilar">Yazılar</a></li>
      <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/kisa-kisa">Kısa Kısa</a></li>
      <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/radar">Radar</a></li>
      <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/etiketler">Etiketler</a></li>
      <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/hakkinda">Hakkında</a></li>

    
    </ul>
  </div>
</nav>