<!DOCTYPE html>
<html lang="tr">
  {% include head.html %}
    <body class="code-snippets-visible">

  <div class="container">
    {% include navbar.html %}

    <div class="row">

      <div style=" text-align: center; display: block; margin-top: 3rem;" ><img src="https://tozbulut.github.io/skeletontest/images/we_will_be_giants_by_yalestewart.jpg">
      
        <p>Original Artwork © <a href="http://yalestewart.deviantart.com/art/We-Will-Be-Giants-370176475">Yale Stewart</a></p>
 
      </div>
    </div>
  </div>

    </body>
</html>