<!DOCTYPE html>
<html lang="en">
    <head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="css/github-prettify-theme.css">
  <script src="js/site.js"></script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">


    </head>
    <body class="code-snippets-visible">
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="navbar-spacer"></div>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="#intro">Tozbulut</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#intro">Yazılar</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#intro">Kısa Kısa</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#intro">Radar</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#intro">Etiketler</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#intro">Hakkında</a></li>

        
        </ul>
      </div>
    </nav>

    <div class="docs-section" id="intro">
      <div class="row docs-example">
        <div class="six columns">
      
          {{ content }}

        </div>
        <div class="six columns">
          <h6 class="docs-header">Yazılar</h6>
          <p>Kültür ürünlerinin bolluğu içerisinde boğulmanın işten bile olmadığı günümüze çoğu zaman tükettiğimizin bizi nereye götürdüğünden bile emin olamıyoruz. "Derinleşmek" temel problemimiz. Tozbulut internetin sonsuz dünyasında dikkate değer olanlar üzerine yoğunlaşma fikrinin bir sonucu. Belki de derinleşmek ancak bu şekilde mümkün olabilir...</p>
        </div>
      </div>

    </div>

  

 
  </div>
    

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </body>
</html>
