<!DOCTYPE html>
<html lang="en">
    <head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="css/github-prettify-theme.css">
  <script src="js/site.js"></script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">


    </head>
    <body class="code-snippets-visible">
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="navbar-spacer"></div>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/">Tozbulut</a></li>
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/yazilar">Yazılar</a></li>
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/kisa-kisa">Kısa Kısa</a></li>
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/radar">Radar</a></li>
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/etiketler">Etiketler</a></li>
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/skeletontest/hakkinda">Hakkında</a></li>

        
        </ul>
      </div>
    </nav>

 
    
    <div class="row">

      <div style=" text-align: center; display: block; margin-top: 3rem;" ><img src="https://tozbulut.github.io/skeletontest/images/we_will_be_giants_by_yalestewart.jpg">
      
        <p>Original Artwork © <a href="http://yalestewart.deviantart.com/art/We-Will-Be-Giants-370176475">Yale Stewart</a></p>
 
      </div>
    </div>
  </div>
    

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </body>
</html>